@import "tailwindcss";

@theme {
  --color-lime: #d8db2f;
  --color-slate-900: #133041;
  --color-slate-700: #4e6e7e;
  --color-slate-500: #6b94a8;
  --color-slate-300: #9abed5;
  --color-slate-100: #e4f4fd;

  --color-white: #fff;

  --color-red: #d73328;
}
